{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}
<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!-- Heading -->
        <h2 class="my-5 text-center">Contact</h2>

        <form method="POST" name="formContact">
            {% csrf_token %}
            <!--Grid row-->
            <div class="row">
                    <!--Card-->
                    <div class="card p-4">
                        <hr />
                        <div class="container">
                            <form action="action_page.php">
                          
                              <label for="name">Name</label>
                              <input type="text" id="name" name="name" placeholder="Your name..">
                          
                              <label for="email">E-mail</label>
                              <input type="text" id="email" name="email" placeholder="Your email..">
                          
                              <label for="subject">Subject</label>
                              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                          
                              <input type="submit" value="Submit">
                          
                            </form>
                          </div>

                        <hr class="mb-4" />                    
                    <button class="btn btn-primary" type="submit" {% if order.get_total_harga_order <= 0 %}disabled{% endif %}>Lanjut Belanja</button>
                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
                
            </div>
            <!--Grid row-->
        </form>
    </div>
</main>
<!--Main layout-->
{% endblock content %}